<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Dusan Antonijevic</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/main.css">
    </head>
    <body class='bg-background text-white'>
        <div class="header container w-5xl mx-auto pt-8 pb-2">
            <div class="flex justify-between">
                <div class="logo">
                    <a href="/">Dusan</a>
                </div>
                <div class="flex items-center gap-6">
                    <a href="#">
                        <span class="text-primary">#</span>home
                    </a>
                    <a href="#" class="text-secondary">
                        <span class="text-primary">#</span>works
                    </a>
                    <a href="#" class="text-secondary">
                        <span class="text-primary">#</span>about-me
                    </a>
                    <a href="#" class="text-secondary">
                        <span class="text-primary">#</span>contacts
                    </a>
                </div>
            </div>
        </div>
        {{embed()}}
        <script type="module" src="/assets/js/main.js"></script>
    </body>
</html>